﻿<div>
    <!--for page controller-->
    <!--sub menu bar start-->

    <div class="sub-navbar-one">
        <a href="#/TimeSheet/AddTimeSheet" class="sub-navbar-list underline active">Add </a><!--active class add to change btn color -->
        <a href="#/TimeSheet/ManageTimeSheet" class="sub-navbar-list underline">Manage</a>
        <a href="#/Project/ProjectSummary" class="sub-navbar-list underline">For Approval</a>
        <a href="#/Project/ProjectSummary" class="sub-navbar-list underline"> Approved</a>
    </div>
    <!--sub menu bar end-->
    <div  class="add-timesheet-status-wrap" ng-nicescroll nice-option="{cursorwidth:'15px'}" nice-scroll-end="endScroll()">
        <div class="add-time-status-detail-wrap">
            <div class="addtimesheet-back-bar"> <div class="addtimesheet-status-btn transition-3">Back</div></></div>
         <div class="time-status-tab">
             <label class="color-active">Project Name</label>
             <ul class="time-status-tab-head-ul">
                 <li>Status</li>
                 <li>By</li>
                 <li>Date</li>
                 <li>Remarks</li>
             </ul>
             <ul class="time-status-tab-body-ul">
                 <li>Approved</li>
                 <li>James</li>
                 <li><span>18 Oct 2017</span><span>10:15 AM</span></li>
                 <li>Remarks Comment,Remarks Comment,Remarks Comment.</li>
             </ul>
             <ul class="time-status-tab-body-ul">
                 <li>Submited</li>
                 <li>David</li>
                 <li><span>15 Oct 2017</span><span>10:15 AM</span></li>
                 <li>Remarks Comment,Remarks Comment,Remarks Comment.</li>
             </ul>
             <ul class="time-status-tab-body-ul">
                 <li>PrePared</li>
                 <li>David</li>
                 <li><span>13 Oct 2017</span><span>10:15 AM</span></li>
                 <li>Remarks Comment,Remarks Comment.</li>
             </ul>

         </div>
            <div class="time-status-tab">
                <label class="color-active">Project Name</label>
                <ul class="time-status-tab-head-ul">
                    <li>Status</li>
                    <li>By</li>
                    <li>Date</li>
                    <li>Remarks</li>
                </ul>
                <ul class="time-status-tab-body-ul">
                    <li>Approved</li>
                    <li>James</li>
                    <li><span>18 Oct 2017</span><span>10:15 AM</span></li>
                    <li>Remarks Comment,Remarks Comment,Remarks Comment.</li>
                </ul>

            </div>
           
        </div>
    </div>


    </div>
