/*css file*/

.container{
    width: 1170px;
     min-width: none !important;
}
.top{
    margin-top: 10px;
}
.middle,
.middle-below{
    margin-top: 20px;
}
.middle-below ul li{
    list-style-type: none;
    display: inline;
    
}
.logo img{
    border-radius: 5px;
}
.padding-no{
    padding: 0px !important;
}
.below-menu1{
    color:white;
    margin-left: 15px;
}
.below-menu2{
    color:#d35400;
    margin-left: 15px;
    font-weight: bold;
    border-bottom:2px solid #d35400;
    
}
.main-menu1
{
    
    color: white;
    padding: 10px 51px !important;
    font-size: 14px;
    border: none !important;
    cursor: pointer;
     background: #f39c12 !important;
}

.main-menu1:hover{
 
    color: white !important;
     padding: 10px 51px !important;
    font-size: 14px;
    border: none !important;
    cursor: pointer;
     background: #d35400 !important;
}

.main-menu2
{
    
    color: white;
    padding: 10px 64px !important;
    font-size: 14px;
    border: none !important;
    cursor: pointer;
     background: #f39c12 !important;
}

.main-menu2:hover{
 
    color: white !important;
     padding: 10px 64px !important;
    font-size: 14px;
    border: none !important;
    cursor: pointer;
     background: #d35400 !important;
}
.main-menu3
{
    
    color: white;
    padding: 10px 60px !important;
    font-size: 14px;
    border: none !important;
    cursor: pointer;
     background: #d35400 !important;
}

.main-menu3:hover{
 
    color: white !important;
     padding: 10px 60px !important;
    font-size: 14px;
    border: none !important;
    cursor: pointer;
     background: #d35400 !important;
}
.main-menu4
{
    
    color: white;
    padding: 10px 58px !important;
    font-size: 14px;
    border: none !important;
    cursor: pointer;
     background: #f39c12 !important;
}

.main-menu4:hover{
 
    color: white !important;
     padding: 10px 58px !important;
    font-size: 14px;
    border: none !important;
    cursor: pointer;
     background: #d35400 !important;
}




.main-menu5
{
    
    color: white;
    padding: 10px 34px !important;
    font-size: 14px;
    border: none !important;
    cursor: pointer;
     background: #f39c12 !important;
}

.main-menu5:hover{
 
    color: white !important;
     padding: 10px 34px !important;
    font-size: 14px;
    border: none !important;
    cursor: pointer;
     background: #d35400 !important;
}
.main-menu6
{
    
    color: white;
    padding: 10px 61px !important;
    font-size: 14px;
    border: none !important;
    cursor: pointer;
     background: #f39c12 !important;
}

.main-menu6:hover{
 
    color: white !important;
     padding: 10px 61px !important;
    font-size: 14px;
    border: none !important;
    cursor: pointer;
     background: #d35400 !important;
}
.margin-no{
    margin: 0px !important;
}

body{
    background: #2c3e50 !important;
   
}

.cmp_name{
    color: white;
}
.btn_inactive{
    background: #f39c12 !important;
}
.admin_btn a:hover{
    color: white;
     padding: 6px 23px !important;
}
.btn_inactive:hover,
.btn_inactive:active{
    background: #d35400 !important;
    font-weight: bold;
     padding: 6px 26px !important;
}
.menu-nav ul li{
list-style-type: none;
display: inline;
margin-left:15px;
}
.admin{
     font-style: bold;
    color: white;
    padding: 6px 25px !important;
}
.label-bold{
    font-weight: bold;
}
.white-lable{
    color: white;
}
.white-icon{
    color: white;
}
.btn-menu{
    color: white;
     padding: 8px 35px !important;
}
.search-div ul li{
    list-style-type: none;
    display: inline;
    margin-left: 15px;
}
.f-icon-inactive{
    color:#f39c12 ;
}

.padding-l-15{
    padding-left:15px;
}
.divd{
    color : #b7b7b7; 
}
.search-div ul{
    margin-left: 0px;
}
.search-div input[type="text"] {
  padding: 5px 10px;
  border: none;
  border-bottom: solid 1px #cacaca;
  transition: border 0.3s;
    background: #2c3e50 !important;
 
}
.search-div input[type=text]:focus {
    outline: none;
  
}

.card-meeting{
    background: white;
    border-radius: 5px;

}
.search-div input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
  
}
.search-div input[type="text"]::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
.search-div input[type="text"]:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
.search-div input[type="text"]:-moz-placeholder { /* Firefox 18- */
  color: white;
}

/*new*/
.padding-t-15{
    padding-top:15px;
}
.padding-l-2{
    padding-left: 3px;
}
.badge-com{
    background-color: green !important;
}
.badge-in-prg{
    background-color: #f39c12 !important;
}
.badge-del{
    background-color: red !important;
}
.padding-3{
    padding: 3px !important;
}
.padding-8{
    padding: 5px !important;
}
.color-inactive{
    color: #f39c12 !important;
}
.badge-draft{
    display: inline-block;
    min-width: 10px;
    padding: 3px 4px;
    height: 10px;
    background-color: #777;
    border-radius: 10px;
}
.badge-final{
    display: inline-block;
    min-width: 10px;
    padding: 3px 4px;
    height: 10px;
    background-color: green;
    border-radius: 10px;
}
.margin-3{
    margin: 0px !important;
}
.padding-b-5{
    padding-bottom: 5px;
}
.badge-sm{
        display: inline-block;
   
    
    padding: 3px 5px;
    font-size: 8px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #d35400;
    border-radius: 11px;
}
.text-light{
    color: #b7b7b7;
}
.border-t{
    border-top: 1px solid lightgray;
}
.font-icons>span{
padding: 0px 12px;
}
.font-icons{
    padding-bottom: 10px;
}
.padding-b-3{
    padding-bottom: 3px;
}
.padding-30{
  padding: 30px !important;
}
.body-create-meeting,
.body-display-meeting{
    background: white;
    border-radius: 5px;
}
.nav-tabs-no-border{
    border-bottom: 0px !important;
}
.body-create-meeting>.nav-tabs>li.active>a,
 .body-create-meeting>.nav-tabs>li.active>a:focus,
 .body-create-meeting>.nav-tabs>li.active>a:hover{
     border: none !important; 
     border-bottom: 1px solid #d35400;
 }
 .red-required{
     color: red;
 }
 .form-horizontal .control-label{
     text-align: left !important;
      font-size: 12px !important;
 }
 .cmeeting input[type="text"] {
  padding: 5px 10px;
  border: none;
  border-bottom: solid 1px #b7b7b7;
  transition: border 0.3s;
    color: black;
}
.cmeeting input[type=text]:focus {
    outline: none; 
    color: black;
}
.cmeeting input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b7b7b7;
  
}
.cmeeting input[type="text"]::-moz-placeholder { /* Firefox 19+ */
  color: #b7b7b7;
}
.cmeeting input[type="text"]:-ms-input-placeholder { /* IE 10+ */
  color: #b7b7b7;
}
.cmeeting input[type="text"]:-moz-placeholder { /* Firefox 18- */
  color: #b7b7b7;
}
.cm-textbox{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-image: none;   
}
.border-divider{
    border-right: 1px solid #cacaca;
 padding-right: 50px;
}
.margin-b-30{
    margin-bottom: 30px;
}
.padding-l-50{
    padding-left: 50px;
}
.color-active{
    color: #d35400 ;
}
.nav-tabs-no-border.active{
    
}
.nav-tabs-no-border ui li{
    margin-left: 10px !important;
}
.cm-tab>li.active>a, 
.cm-tab>li.active>a:focus, 
.cm-tab>li.active>a:hover{
    padding: 8px 0px;
    border: none !important;
    color: #d35400 !important;
    border-bottom: 2px solid #d35400 !important;
}
.margin-l-30{
    margin-left: 20px;
}

.btn-reset{
    margin-top: 8px;
}
.color-gray{
    color: #b7b7b7;
}
.margin-top{
    margin-top: 20px;
}
.fa-align{
    color: #b7b7b7;
    top:10px !important;
    right:7px !important;
}
.cm-tab>li>a{
    color: #b7b7b7;
    padding: 8px 0px !important;
}
.cm-tab>li>a:hover,
.cm-tab>li>a:focus
{
   padding: 8px 0px !important;
    background: none;
     border: none !important;
    color: #d35400 !important;
    border-bottom: 2px solid #d35400 !important;
}
.margin-t-50{
    margin-top:50px;
}
.btn-next{
    color: white !important;
    padding: 6px 30px;
    background: #f39c12;
}
.btn-next-disable{
    color: white !important;
    padding: 6px 30px;
    background:#b7b7b7;
}

/* ROUNDED ONE */
.roundedOne {
    margin-top: 5px;
	width: 16px;
	height: 16px;
	/*background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );*/
	

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
    border:3px solid #b7b7b7;

	/*-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);*/
	position: relative;
}

.roundedOne label {
	    cursor: pointer;
    position: absolute;
    width: 28px;
    height: 28px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    left: -5px;
    top: -25px;

}

.roundedOne label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	/*background: #00bf00;

	background: -webkit-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -moz-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -o-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -ms-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: linear-gradient(top, #00bf00 0%, #009400 100%);*/

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	top: 2px;
	left: 2px;

	/*-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);*/
    margin: 20px auto;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
    border:3px solid #f39c12;
}

.roundedOne input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.btn-update{
    margin-top:15px;
background: #f39c12;
    color: white;
    padding: 5px 30px;
}
.btn-update:hover{
margin-top:15px;
background: #d35400;
    color: white;
    padding: 5px 30px;
}
 .body-display-meeting input[type="text"] {
  padding: 5px 10px;
  border: none;
  border-bottom: solid 1px #b7b7b7;
  transition: border 0.3s;
    color:white;
}
.body-display-meeting input[type=text]:focus {
    outline: none; 
    color: black;
}
.body-display-meeting input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b7b7b7;
  
}
.body-display-meeting input[type="text"]::-moz-placeholder { /* Firefox 19+ */
  color: #b7b7b7;
}
.body-display-meeting input[type="text"]:-ms-input-placeholder { /* IE 10+ */
  color: #b7b7b7;
}
.body-display-meeting input[type="text"]:-moz-placeholder { /* Firefox 18- */
  color: #b7b7b7;
}
.badge-active{
    background: #d35400 !important;
    font-size: 10px;
        padding: 4px 6px !important;

}
.padding-mm{
    padding:0px 2px !important;
}
.MDisplay{
    border-bottom: 1px solid #b7b7b7;
}
.borderless td, .borderless th {
    border: none;
}
.padding-30{
    padding: 30px !important;
}
.padding-icon{
    padding: 0px 10px !important;
}

.table>tbody>tr>th,
 .table>tfoot>tr>td,
  .table>tfoot>tr>th, 
  .table>thead>tr>td, 
  .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px !important;
}
.table>thead>tr>th{
    border-bottom: 0px !important;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px;
}
.divTable
    {
        display:  table;
        width:auto;
        
        border-spacing:5px;/*cellspacing:poor IE support for  this*/
       /* border-collapse:separate;*/
    }

    .divRow
    {
       display:table-row;
       width:auto;
    }

    .divCell
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:170px;
        
    }
    .divCellLast{
          float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:190px !important;
    }
    .border-bottom{
        border-bottom: 1px solid #b7b7b7;
    }
    .cursor{
        cursor: pointer;
    }
    .newmodal{
        width: 100% !important;
        
    }
    .bg-tab{
        background: #2c3e50 !important;
    }
   
    .label-white{
        color: white;
    }
    .modal-margin-t{
        margin-top: 12% ;
    }
    .margin-align{
        margin-top: 10px;
        margin-bottom:10px;
    }
    .margin-l-15{
        margin-left: 15px;
    }
    .modal-background-fade{
       background: #2c3e50;
       opacity: 0.95 !important ;
    }
    .margin-t-10{
        margin-top: 12px !important;
    }
    .text-area-popup{
        background: #2c3e50;
        border: 1px solid white;
        outline: none !important;
    }
.color-white
{
    color: white;
}
.margin-b-15{
    margin-bottom: 15px
}
.att-text input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
  
}
.att-text input[type="text"]::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
.att-text input[type="text"]:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
.att-text input[type="text"]:-moz-placeholder { /* Firefox 18- */
  color: white;
}
.attach-text{
    background: #2c3e50;
    border-bottom:1px solid;
    color:white !important;
}
.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

/* Example stylistic flourishes */

.fileContainer {
    border-bottom: 1px solid white;

    background: #2c3e50;
    
    float: left;
    padding: .5em;
}
.btn-popup{
       color: white;
    background: lightgray !important;
    font-weight: bold;
     padding: 6px 26px !important;
}
.btn-popup:hover{
       color: white;
    background: #f39c12 !important;
    font-weight: bold;
     padding: 6px 26px !important;
}
.color-popup{
    color: lightgray;
}
.color-popup:hover{
    color: #f39c12;
}
.popup-input{
        background: #2c3e50;
    color: white !important;
}

.badge-big {
    /* display: inline-block; */
    /* min-width: 33px; */
    padding: 18px 14px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #f39c12;
    border-radius: 50%;
}
.badge-big-fa {
    /* display: inline-block; */
    /* min-width: 33px; */
    padding: 18px 20px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #f39c12;
    border-radius: 50%;
}
.margin-big-b{
    margin-bottom: 50px !important;
}

.badge-big-active {
    /* display: inline-block; */
    /* min-width: 33px; */
    padding: 23px 23px;
    
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #d35400;
    border-radius: 50%;
}
.wrap{
    font-size:14px;  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 17px;     /* fallback */
   max-height: 20px;      /* fallback */
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.m-top-follow{
    margin-top: 100px !important;
}
.svg-icon{
    right:20px !important;
    height:20px !important;
    width:20px !important;
}


